{
    debug
    log {
        output stderr
        format json
        level DEBUG
    }
    servers {
        protocols h1 h2
        timeouts {
            read_body 30s
            read_header 10s
            write 30s
            idle 120s
        }
    }
}

erp.domonit.de {
	reverse_proxy frontend:8080 {
		transport http {
			read_timeout 120s
			write_timeout 120s
		}
	}
}
